
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* Hero Section */
.hero {
  padding: 40px 60px;
  background-color: #1F2937;
}

/* Header inside Hero */
.hero header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.hero header nav a {
  margin-left: 18px;
  text-decoration: none;
  color: #E5E7EB;
  font-weight: 500;
  /* transition: color 0.3s ease; */
}

.hero header nav a:hover {
  color: #5C2E91;
}

/* Hero Content (Info + Image) */
.hero-content {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-info {
  flex: 1;
  min-width: 280px;
}

.hero-info h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #F9FAF8;
}

.hero-info p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #E5E7EB;
}

.hero-info button {
  padding: 12px 28px;
  font-size: 18;
  font-weight: 700;
  background-color: #3882F6;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-info button:hover {
  background-color: #F9FAF8;
  color: #3882F6;
}

.hero-img {
  flex: 1;
  min-width: 280px;
  text-align: center;
}

.hero-img img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0,0.1);
}

/* Information content (image + text)  */
.trials {
  text-align: center;
  margin: 60px;

  
}

.info img {
  width: 250px;
  height: 175px;
  border-radius: 10px;
  box-shadow: 8px 8px 10px #1F2937;
}

.title {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 32px;
  color: #1F2937;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 200px;
}

/* Quotations section  */
.quote {
  background-color: #E5E7EB;
  padding: 100px 190px;
  display: flex;
  flex-direction: column;
  align-items: self-end;
}

blockquote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1F2937;
  /* margin-bottom: 10px; */
}

.quote p {
  margin-right: 100px;
  font-weight: 900;
}

/* Call to action section  */
.action {
  background-color: #3882F6;
  margin:  100px;
  padding: 30px 80px ;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.action p, 
.action h3 {
  color: #f9f9f9;
}

.action h3 {
  font-size: 18px;
}

.action button {
  padding: 12px 24px;
  font-size: 18;
  font-weight: 700;
  background-color: #3882F6;
  color: #f9f9f9;
  border: 2px solid white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* margin-right: 30px; */
}

